<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
</head>
<body>
<form th:method="POST" th:object="${book}">
    Id:   <input type="text" th:field="*{id}"/>
    Tytuł:   <input type="text" th:field="*{title}"/>
    Autor:   <input type="text" th:field="*{author}"/>
    Cena:   <input type="text" th:field="*{price}"/>
    Data:   <input type="text" th:field="*{releaseDate}"/>
    Bestseller: <input type="checkbox" th:field="*{bestseller}"/>
    Typ okładki:
    <select th:field="*{coverType.id}">
        <option th:each="cover : ${coverTypesList}"
                th:value="${cover.id}"
                th:text=" ${cover.name}"
        />
    </select>

    <input type="submit" value="Dodaj" />
</form>

<a href="/list">Lista ksiazek</a>

</body>
</html>