<div
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="shared/layout"
>
    <div layout:fragment="content">
        <div class="main-nav-container">
            <a href="/knowledgeBase"><div class="main-nav-item" ><i class="fal fa-book-open main-nav-icon"></i>Baza wiedzy</div></a>
            <a href="/addTicket"><div class="main-nav-item" ><i class="fal fa-envelope main-nav-icon"></i>Wyślij zgłoszenie</div></a>
        </div>
    </div>
</div>
