<div
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="shared/layout"
>
    <div layout:fragment="content">
        <div class="knowledge-base-nav-container">
            <div class="main-nav-item"><i class="fal fa-user-shield main-nav-icon"></i>Bezpieczenstwo</div>
            <div class="main-nav-item"><i class="fal fa-user main-nav-icon"></i>Konto</div>
            <div class="main-nav-item"><i class="fal fa-cash-register main-nav-icon"></i>Płatności</div>
            <div class="main-nav-item"><i class="fal fa-server main-nav-icon"></i>Usługi</div>
            <div class="main-nav-item"><i class="fal fa-fragile main-nav-icon"></i>Reklamacja</div>
            <div class="main-nav-item"><i class="fal fa-car-crash main-nav-icon"></i>Awaria</div>
            <div class="main-nav-item"><i class="fal fa-sliders-h main-nav-icon"></i>Panel klienta</div>
            <div class="main-nav-item"><i class="fal fa-question main-nav-icon"></i>Inne</div>
        </div>
    </div>
</div>
