<div
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="shared/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<div layout:fragment="content">
    <h1 class="fs-1">Zgłoszenia</h1>
    <table class="table table-hover tickets-table">
        <thead class="tickets-table-header">
        <tr>
            <th>Kategoria</th>
            <th>Tytuł</th>
            <th>Zgłaszający</th>
            <th>Data</th>
            <th>Priorytet</th>
            <th>Status</th>
            <th>Przydzielony</th>
        </tr>
        </thead>
        <tbody>
        <div th:unless="${#lists.isEmpty(tickets)}" th:each="ticket :${tickets}" th:object="${ticket}">
            <tr class="tickets-table-row" th:onclick="'window.location.href = \'' + @{/editTicket(id=*{id})} + '\''">

                <td th:text="*{category.name}"/>
                <td th:text="*{title}"/>
                <td th:text="*{firstName + ' ' + lastName}">
                <td th:text="*{#dates.format(createdDate, 'yyyy-MM-dd HH:mm')}"/>
                <td th:if="*{priority!=null}" th:text="*{priority.name}"/>
                <td th:if="*{priority==null}"></td>
                <td th:if="*{status!=null}" th:text="*{status.name}"/>
                <td th:if="*{status==null}"></td>
                <td th:if="*{employee!=null}" th:text="*{employee.name}"/>
                <td th:if="*{employee==null}"></td>
            </tr>
        </div>
        <tbody>
    </table>
    <span th:if="${#lists.isEmpty(tickets)}">Brak zgłoszeń</span>
</div>
</div>
